
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}
span{
  font-family: "Edu AU VIC WA NT Hand", cursive;
  font-weight: 400;
  font-style: italic;
}

/* Shared Style----------- */
.btn{
    border-radius: 39px;
    background: rgb(230, 83, 60);
    border: 0px;
    font-size: 1rem;
    padding: 8px 18px;
    color: #fff;
    cursor: pointer;
}
.big{
    width: 170px;
    height: 40px;
    margin-top: 20px;
}
.btn-black{
    background: transparent;
    border-radius: 39px;
    border: 1px solid #fff;
}
.btn-black:hover{
    background: rgb(230, 83, 60);
    transition: 0.3s;
}
.btn:hover{
    background: rgb(236, 102, 82);
    transition: 0.3s;
}
.homeBtn{
    border-radius: 39px;
    background: rgb(230, 83, 60);
    border: 0px;
    font-size: 1rem;
    padding: 6px 20px;
    color: #fff;
    margin-left: -14px;
   
}
.para{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.75rem;
    font-weight: 400;
    margin-bottom: 10px;
}
.btn-shadow{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    text-align: center;
    padding: 0 10px;
}
.shadow1{
    position: relative;
    top: 200px;
    left: 180px;
}
.shadow{
    position: relative;
    left: -40px;
    bottom: 120px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.shadow h3{
    font-size: 1.5rem;
}
.btn-shadow h3{
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-weight: 900;
    margin-top: -2px;
}
.btn-shadow p{
   margin-top: -22px;
}
  
.circle{
    display: inline-block;
    background-color: rgb(230, 83, 60);
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
}


/* header section------------ */
header{
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0.7) 100%);
    width: 100%;
    height: fit-content;
    padding: 0px 40px;
}
header .head{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
header .head .icon{
    display: none;
}
header .head h2{
    color: rgb(230, 83, 60);
    font-size: 2.5rem;
    font-weight: 800;
    font-style: italic;
}
header ul{
   display: flex;
   box-sizing: border-box;
   border: 1px solid rgba(255, 255, 255, 0.1);
   border-radius: 39px;
   height: fit-content;
   justify-content: space-around;
   align-items: center;
   padding: 4px;
   width: 360px;
}

header ul li{
   list-style: none;
   /* margin-right: 12px; */
   color: #fff;
   font-size: 1rem;
}

.main{
    width: 80%;
    height: 600px;
    padding: 0;
    margin: 0px auto;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */

}
.main .main1{
    width: 40%;
    height: fit-content;
    /* border: 1px solid red; */
    margin-top: -100px;
}
.main .main1 h2{
   font-size: 3rem;
   font-weight: 900;
   color: #fff;
}
.main .main2 {
   width: 42%;
   height: auto;
}
.main .main2 img{
   width: 70%;
   height: auto;
}

/* habit-section------------- */
.habit-section{
    background-color: black;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.habit-header {
    width: 40%;
    height: 200px;
    text-align: center;
}
.habit-header h2{
    color: #fff;
    font-size: 2.3rem;
    font-weight: 900;
}
.habit-header p{
   margin-top: -10px;
}
.habit-img{
    width: 80%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: -40px;
}
.habit-img .img{
    width: 150px;
    height: fit-content;
    padding: 10px;
    text-align: center;
}
.habit-img .img img{
    width: 100%;
    border-radius: 50%;
}
.habit-img .img h1{
   color: #fff;
   font-size: 1rem;
}
.habit-img .img p{
  margin-top: -7px;
}
/* run-section-------------- */
.run-section{
    border-radius: 18px;
    background: rgb(34, 34, 34);
    width: 80%;
    height: fit-content;
    padding: 18px 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 80px auto;
}
.run-section .run-section1{
    width: 40%;
}
.run-section .run-section1 h2{
    color: #fff;
    font-size: 2.5rem;
    font-weight: 900;
}
.run-section .run-section1 p{
    margin-top: -15px;
}
.run-section .run-img{
    width: 45%;
    height: auto;
}
.run-section .run-img img{
    width: 100%;
    height: auto;
    border-radius: 18px;
}

/* trainning-section-------------- */
.left-header{
    text-align: left;
    margin-left: -470px;
}


/* table section--------------- */
.table-section{
    background: rgb(34, 34, 34);
    width: 100%;
    height: fit-content;
    padding: 25px 16px;
    display: flex;
    justify-content: space-evenly;
}
.table-section .table1{
    width: 30%;
    height: fit-content;
    color: #fff;
}
.table-section .table1 table{
    width: 310px;
    height: 216px;
}
.table-section .table1 table,tr,td,th{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
    padding: 4px 6px;
    text-align: left;
}
.table-section .table1  table td{
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
}
.table-section .calculator{
   width: 45%;
   height: fit-content;
   /* border: 2px solid red; */
}
.table-section .calculator h2{
  color: #fff;

}
.table-section .calculator p{
    width: 75%;
    text-align: justify;
    line-break: normal;
  }
.table-section .calculator input,select{
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    padding: 12px 40px 12px 20px;
    margin: 5px 8px 6px 0;
    border: 0;
    outline: 0;
}
.table-section .calculator select{
    color: rgba(255, 255, 255, 0.4);
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    width: 230px;
}
.table-section .calculator .last{
    width: 472px;
}

/* trainer section*/
.trainer .trainer-head{
    width: 40%;
    height: auto;
    margin: 0 auto;
    color: #fff;
    text-align: center;
}
.trainer .trainer-head h2{
    font-size: 2.2rem;
    font-weight: 900;
}
.trainer .trainer-head p{
   margin-top: -12px;
}
.trainer .flex-imgs{
   width: 80%;
   height: 580px;
   border-radius: 18px;
   background: rgba(255, 255, 255, 0.1);
   margin: 20px auto;
   padding: 20px;
}
.trainer .flex-imgs .img-leyr1{
  display: flex;
  justify-content: space-evenly;
}
.trainer .flex-imgs .img-leyr1 .img-item{
  width: 33%;
  height: auto;
  position: relative;

}
.trainer .flex-imgs .img-leyr1 .img-item .black{
  width: 95%;
  height: 80%;
  border-radius: 18px;
  background: rgba(0, 0, 0,0.2);
  position: absolute;
}
.trainer .flex-imgs .img-leyr1 .name{
  position: absolute;
  color: #fff;
  top: 180px;
  left: 30px;
}
.trainer .flex-imgs .img-leyr1 p{
  margin-top: -14px;
}

.trainer .flex-imgs .img-leyr1 .img-item img{
  width: 95%;
  height: 80%;
  border-radius: 18px;
}
.flex-imgs .top{
  margin-top: -45px;
}
/* workout---------------------- */
.workout{
  width: 100%;
  height: fit-content;
  padding: 30px 20px;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.workout .workout-head h4{
  color: rgb(230, 83, 60);
}
.workout .workout-head h2{
  font-size: 2rem;
  font-weight: 900;
  margin-top: -0.7rem;
}
.workout .icons {
  width: 70%;
  display: flex;
  height: fit-content;
  margin: 20px auto;
  justify-content: space-between;
  gap: 30px;
}

.workout .icons .medi-icon{
  width: 30%;
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 18px;
  padding: 14px 2px;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.19), 0 6px 20px 0 rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.workout .icons .medi-icon p{
  margin-top: -2px;
}

.workout .icons .medi-icon .icon{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: rgb(34, 34, 34);
  position: relative;
}
.workout .icons .medi-icon .icon .fa-solid{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: rgb(230, 83, 60);
  text-align: center;
  position: absolute;
  top: 35px;
  left: 35px;
}


/* footer area========== */

footer{
    background: rgba(255, 255, 255, 0.1);
    width: 100%;
    height: fit-content;
    padding: 30px;
    margin-top: 80px;
}
footer .div{
    width: 35%;
    margin: 25px auto;
    text-align: center;
}
footer .footer-main{
   width: 80%;
   height: 200px;
   border-bottom: 2px solid rgba(255, 255, 255, 0.1);
   display: flex;
   margin: 0 auto;
   justify-content: space-around;
   align-items: center;
}
footer .footer-head{
    width: 35%;
    height: fit-content;
}
footer .footer-head h1{
   color: rgb(230, 83, 60);
   font-size: 2.8rem;
   font-weight: 900;
   font-style: italic;
   margin-top: -10px;
}
footer .footer-head p{
  margin-top: -15px;
  line-height: 20px;
}
footer .footer-main .item1 h2, .item2 h2{
    color: #fff;
    font-size: 1.6rem;
    font-weight: 700;
 }
footer .footer-main .item1 ul, .item2 ul{
    list-style: none;
 }
footer .footer-main .item1 li, .item2 li{
    color: rgba(255, 255, 255, 0.5);
    font-size: 13px;
    margin-left: -38px;
    line-height: 30px;
 }



/* media query----------- */
@media only screen and (max-width: 576px) {
    header{
        margin: 0;
        padding: 10px;
    }
   
   .main , .habit-header ,.run-section ,
   .table-section,.img-leyr1, .workout .icons{
    flex-direction: column;
    height: fit-content;
    width: 95%;
    text-align: center;
    justify-content: center;
    
   }
   .main .main1 , .run-section .run-section1,.run-section {
    width: 95%;
    margin: 0 auto;
   }
   .main .main2{
      width: 95%;
      margin: 0 auto;
   }
   .main .main2 img{
      width: 90%;
   }
   .shadow{
    position: relative;
    left: 0px;
   }
   .shadow1{
    position: relative;
    top: 250px;
    left: 80px;
   }
   .habit-img{
    grid-template-columns: repeat(1,4fr);
    margin: 30px auto;
    width: 90%;
   }
   .habit-img .img{
    width: 70%;
    margin: 0 auto;
   }
   .habit-section{
    width: 100%;
}
.run-section ,.table-section{
    padding: 0;
    margin: 15px;
}
.run-section1 .big{
   width: 90%;
   height: 45px;
}
.run-section .run-img{
    width: 100%;
    margin-top: 30px;
  }
.run-section .run-img img{
    width: 90%;
  }
  .table-section .table1 ,.table-section .calculator{
    width: 95%;
    margin: 10px auto;
    text-align: left;
  }
  .table-section .calculator input{
    width: 30%;
  }

  .table-section .calculator select{
    width: 46%;
  }
  .table-section .calculator p{
    width: 95%;
  }
  .table-section .calculator .last{
    width: 96%;
  }
  .trainer .flex-imgs{
    height: fit-content;
    padding: 10px;
    margin-right: 0;
  }
  .trainer .flex-imgs .top{
   display: none;
  }
  .trainer .trainer-head{
    width: 90%;
}

  .trainer .flex-imgs .img-leyr1 .img-item{
    width: 100%;
    margin: 15px 0 15px 0;
  }
  .trainer .flex-imgs .img-leyr1 .top:nth-last-child(2){
    display: hidden;
  }
  .trainer .flex-imgs .img-leyr1 .img-item .black{
    width: 100%;
    height: fit-content;
    
  }
  .workout .icons{
    margin: 0;
  }
  .workout .icons .medi-icon{
    width: 70%;
    margin: 0 auto;
  }

  /* --------footer--------- */
  footer{
    padding: 0;
  }
  footer .div{
    width: 90%;
    margin: 0 auto;
    padding-bottom: 20px;
    font-size: 16px;
    text-align: center;
  }
  footer .footer-main{
    flex-direction: column;
    text-align: left;
    width: 95%;
    height: fit-content;
    padding: 10px;
  }
  footer .footer-head,.item1,.item2{
    width: 95%;
  }
  .run-section,.table-section , .trainer .flex-imgs ,.table-section .table1 table{
    width: 100%;
  }
  .head ul{
    display: none;
  }
  header .head .icon{
   display: block;
   color: rgb(230, 83, 60);
   font-size: 1.7rem;
   font-weight: 900;
   cursor: pointer;
  }
  }